.navbar {
	padding-bottom: 0;
	padding-top: 0;
}

.nav-link {
	padding: 0.2rem 1rem;
}

.form-control {
	line-height: 2;
}

.btn {
    line-height: 1.8;
}
.material-icons {
    color: white;
    font-size: 1.4em;
    background-color: #A0C3D2;
    padding: 0.3em;
    border-radius: 50%;
    margin: 0.1em;
  }
  .card {
    border: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}